#BarChart { 
    display: flex; 
    flex-direction: row; 
    align-items: flex-end; 
    justify-content: center; 
    margin: 50px;
  }
  
  .bar {
    background-color: #fa3232; 
    width: 10px; 
  }


    a:hover {
      background-color: rgb(235, 161, 238);
    }
    
    .pa{
      font-size: 2rem;
    }